<body style="background-color:lightblue;">
    <br/>
  <h1 style="text-align:center"><%= @shelter.name %> Pets</h1>
    <br/>
  <div class="card-deck">
    <div class="container">
      <div class="row">
        <% @shelter.pets.each do |pet| %>
          <div class="col-md-4" id='pet-<%=pet.id %>'>
            <div class="card bg-dark text-white mb-4 shadow">
              <img src=<%= pet.image %> class="card-img-top">
              <div class="card-body">
                <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
                <p>Approx Age: <%= pet.approx_age %></p>
                <p>Sex: <%= pet.sex %></p>
                <p>Adoption Status: <%= pet.status %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new", class: 'btn btn-primary' %>
  </div>
  <div class="d-flex justify-content-center mt-3">
        <%= link_to "Back to Shelter", "/shelters/#{@shelter.id}" %>
  </div>
</body>

