<body style="background-color:lightblue;font-family:arial;text-align:center">
  <h1 style="text-align:center">New Pet</h1>
    <br/>
    <br/>
  <%= form_tag "/shelters/#{@shelter.id}/pets" do %>
    <%= label_tag :image %>
    <%= text_field_tag :image %>
      <br/>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
      <br/>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
      <br/>
    <%= label_tag :approx_age %>
    <%= text_field_tag :approx_age %>
      <br/>
    <%= radio_button_tag(:sex, "Female") %>
    <%= label_tag "Female" %>
    <%= radio_button_tag(:sex, "Male") %>
    <%= label_tag "Male" %>
      <br/>
      <br/>
    <%= submit_tag 'Create Pet' %>
      <br/>
        <br/>
      <br/>
    <br/>
  <%= link_to "Back to Shelter", "/shelters/#{@shelter.id}" %>
<% end %>
</body>