<body class="background-main">
    </br>
  <h1 style="text-align:center">Favorite Pets</h1>
    </br>
  <% if @fav_pets.count == 0 %>
    <div class="card text-dark border-dark border-2 mb-2 w-75 bg-transparent mx-auto">
      <div class="card-body d-flex justify-content-center">
          You Currently Have No Favorite Pets.
      </div>
    </div>
  <% else %>
    <% @fav_pets.each do |pet| %>
      <div class="card text-dark border-dark border-2 mb-2 w-75 bg-transparent mx-auto" id="favorites-<%=pet.id%>">
        <div class="row ml-2">
          <div class="col-md-8 my-auto">
                <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
                <%= link_to "Remove From Favorites", "favorite_pets/#{pet.id}", method: :delete, class: 'btn btn-sm btn-dark' %>
          </div>
          <div style="width: 200px">
            <div class="mw-100 my-2 mr-2" style="width: 200px;">
              <img src=<%= pet.image %>>
            </div>
          </div>  
        </div>
      </div>
    <% end  %>
  <% end  %>
  <div class="d-flex justify-content-center">
    <div class="btn-group w-75">
      <%= link_to "Remove All Favorites", '/favorites', method: :delete, class: 'btn btn-dark' %>
      <%= link_to "Apply For Adoption", '/applications/new', class: 'btn btn-primary border-2' %>
    </div>
  </div>
    </br>
  <h1 style="text-align:center">Pets Applied For</h1>
    </br>
  <section id="applied_for">
    <% if @applied_pets == 0 %>
      <h3>You haven't applied for the adoption of any pets</h3>
    <% else %>
      <% @applied_pets.each do |pet| %>
        <div class="card text-dark border-dark border-2 mb-2 w-75 bg-transparent mx-auto">
          <div class="card-body">
            <h3 class="my-auto"><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
          </div>
        </div>
      <% end %>
    <% end  %>
  </section>
</body>
