<h1>Favorite Pets</h1>
<%= link_to "Apply For Adoption", '/applications/new' %>
<%= link_to "Remove All Favorites", '/favorites', method: :delete%>
<% if @fav_pets.count == 0 %>
  <h1>You Currently Have No Favorite Pets.</h1>
<% else %>

  <% @fav_pets.each do |pet| %>
        <section id="favorites-<%=pet.id%>">
          <img style="img-align:center;"><%= image_tag pet.image %></img>
            <br/>
          <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
          <%= button_to "Remove From Favorites", "favorite_pets/#{pet.id}", method: :delete %>
            <br/>
            <br/>
          </section>
      <% end  %>
<% end  %>
