<h1>New Application</h1>
  <%= form_tag '/applications' do %>
    <% if @pets.all? {|pet| pet[:status] == "Pending" } %>
      <h3>You have no pets eligible to apply for.</h3>
    <% else %>
      <% @pets.each do |pet| %>
        <% if pet.status == "Adoptable" %>
          <p id="checkbox-<%= pet.id %>"><%= check_box_tag "applied_for[]", pet.id %>
          <%= link_to "#{pet.name}", "/pets/#{pet.id}"%></p>
        <% end %>
      <% end %>
    <% end %>
    </br>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
      <br/>
      <br/>
    <%= label_tag :address %>
    <%= text_field_tag :address %>
      <br/>
      <br/>
    <%= label_tag :city %>
    <%= text_field_tag :city %>
      <br/>
      <br/>
    <%= label_tag :state %>
    <%= text_field_tag :state %>
      <br/>
      <br/>
    <%= label_tag :zip %>
    <%= text_field_tag :zip %>
      <br/>
      <br/>
    <%= label_tag :phone %>
    <%= text_field_tag :phone %>
      <br/>
      <br/>
    <%= label_tag :description %>
    <%= text_area_tag :description %>
      <br/>
      <br/>
    <%= submit_tag 'Submit' %>
      <br/>
      <br/>
<% end %>
