<h1>Your Application </h1>
  <h3>Name: <%= @application.name %></h3>
  <p>Address: <%= @application.address %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip: <%= @application.zip %></p>
  <p>Phone: <%= @application.phone %></p>
  <p>Description: <%= @application.description %></p>
  <br/>
  <br/>

<h2>Pets Applied For</h2>
  <% @application.pets.each do |pet| %>
    <section id="app_pet-<%=pet.id%>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <%= button_to "Approve Application", "/applications/#{@application.id}/pets/#{pet.id}", method: :patch %>
    </section>
  <% end %>
  <%= button_to "Approve ALL", "/applications/#{@application.id}", method: :patch %>
