<body style="background-color:lightblue;"">
    <br/>
  <h1 style="text-align:center"> All Pets </h1>
    <br/>
  <div style="text-align:center">
    <% @pets.each do |pet| %>
      <section class = polaroid id="pets-<%=pet.id%>">
        <div class= container><%= image_tag pet.image %></div>
          <div class = petinfo>
            <h3><%= link_to pet.name, "/pets/#{pet.id}" %></h3>
            <p>Age: <%= pet.approx_age %></p>
            <p>Sex: <%= pet.sex %></p>
            <p>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>
              <br/>
              <br/>
            <%= link_to "Edit Pet", "/pets/#{pet.id}/edit" %>
            <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
              <br/>
              <br/>
          </div>
        </div>
      </section>
    <% end %>
</body>
