<body style="background-color:lightblue;font-family:arial;text-align:center">
  <%= link_to "Pets Index", "/pets" %>
  <%= link_to "Shelters Index", "/shelters" %>
  <h1> <%= @pet.name %> </h1>
    <img src= <%= @pet.image %> alt= <%= @pet.name %>>
      <p> <%= @pet.description %></p>
      <p> <%= @pet.approx_age %></p>
      <p> <%= @pet.sex %></p>
    <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %>
      <p> <%= @pet.status %></p>
    <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
    <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
      <br/>
    <br/>
  <%= link_to "Back to Pets", "/pets/" %>
</body>
