<body style="background-color:lightblue">
  <h1 style="text-align:center">About Me</h1>

  <section class = polaroid id='show-pet-<%=@pet.id %>'>
    <div class = container><%= image_tag @pet.image %></div>
      <div class = petinfo>
        <h3><%= @pet.name %></h3>
        <h5> <%= @pet.description %></h5>
        <p>Age: <%= @pet.approx_age %></p>
        <p>Sex: <%= @pet.sex %></p>
        <p>Adoption Status: <%= @pet.status %></p>
        <p>Shelter: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %>
      </div>
        <% if favorites.contents.include?(@pet.id.to_s) %>
          <%= button_to "Remove From Favorites", "/favorites/#{@pet.id}", method: :delete %>
        <% else %>
          <p><%= button_to "Favorite", "/favorites/#{@pet.id}", method: :patch %></p>
        <% end %>
        <br/>
    </div>
  </section>

    <%= link_to "All Applications", "/pets/#{@pet.id}/applications" %>
    <%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
    <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
    <br/>
    <br/>
</body>
