<body class="background-main">
    <br/>
  <h1 style="text-align:center;"><%= @shelter.name %></h1>
    <br/>
  <div class="card text-center text-dark border-dark mb-2 w-75 bg-transparent mx-auto">
    <div class="card-body font-weight-bold">
      <%= @shelter.address %> | 
      <%= @shelter.city %>, <%= @shelter.state %> | 
      <%= @shelter.zip %>
    </div>
   
    <ul class="list-group w-75 mx-auto">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Pet Count
        <span class="badge badge-primary"><%= @shelter.pet_count %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Average Rating
        <% if @shelter.average_rating != 0 %>
          <span class="badge badge-primary"><%= @shelter.average_rating.round(1) %></span>
        <% else %>
          <span class="badge badge-primary">No Reviews</span>
        <% end %>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Number Of Applications On File
        <span class="badge badge-primary"><%= @shelter.number_of_apps %></span>
      </li>
    </ul>

    <div class="btn-group mt-4">
      <%= link_to "Our Pets", "/shelters/#{@shelter.id}/pets", class: 'btn btn-sm btn-primary' %>
      <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", class: 'btn btn-sm btn-outline-dark' %>
      <% if @shelter.has_apps == false %>
        <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete, class: 'btn btn-sm btn-outline-dark' %>
      <% end %>
    </div>
  </div>
    <br/>
  <h1 class="d-flex justify-content-center">Reviews</h1>
  <div class="d-flex justify-content-center">
    <%= button_to "New Review", "/shelters/#{@shelter.id}/reviews/new", method: :get, class: 'btn btn-primary' %>
  </div>
    <br/>
  <div class="card-deck">
    <div class="container">
      <div class="row">
        <% @shelter.reviews.each do |review| %>
          <div class="col-md-4" id="review-<%= review.id %>">
            <div class="card bg-dark text-white mb-4 shadow">
              <% unless review.picture == "" %>
                <img src=<%=review.picture%> class="card-img-top">
              <% end %>
              <div class="card-body">
                <h3><%= review.title %></h3>
                <p>Rating: <%= review.rating %></p>
                <p><%= review.content %></p>
                <div class="btn-group">
                  <%= link_to "Edit Review", "/reviews/#{review.id}/edit", method: :get, class: 'btn btn-sm btn-outline-secondary' %>
                  <%= link_to "Delete Review", "/reviews/#{review.id}", method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div> 
</body>
