<body style="background-color:lightblue;font-family:arial;">
    <br/>
  <h1 style="text-align:center;font-size:40px"> <%= @shelter.name %> </h1>
    <br/>
  <div style="text-align:center">
    <p> <%= @shelter.address %></p>
    <p> <%= @shelter.city %></p>
    <p> <%= @shelter.state %></p>
    <p> <%= @shelter.zip %></p>
    <br/>

    <h3>Pet Count: <%= @shelter.pet_count %></h3>
    <h3>Average Rating: <%= @shelter.average_rating.round(1) %></h3>
    <h3>Number Of Applications On File: <%= @shelter.number_of_apps %></h3>
    <br/>

    <%= link_to "Our Pets", "/shelters/#{@shelter.id}/pets" %>
    <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
    <% if @shelter.has_apps == false %>
      <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
    <% end %>
    <br/>

    <h2>Reviews</h2>
    <%= button_to "New Review", "/shelters/#{@shelter.id}/reviews/new", method: :get %>
    
    <% @shelter.reviews.each do |review| %>
      <section id="review-<%= review.id %>">
        <h3><%= review.title %></h3>
        <% if review.picture %>
          <p><%= image_tag review.picture, :style => "width: 35%"%></p>
        <% end %>
        <p>Rating: <%= review.rating %></p>
        <p><%= review.content %></p>
        <%= button_to "Edit Review", "/reviews/#{review.id}/edit", method: :get %>
        <%= button_to "Delete Review", "/reviews/#{review.id}", method: :delete %>
      </section>
    <br/>
    <br/>
    <% end %>

  </div>
  </body>
