<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" id='nav-title'>Adopt Don't Shop</a> 
    <div class="navbar-nav ml-auto align-items-center">
      <a class="nav-link"><%= link_to "Welcome Page", "/" %></a>
      <a class="nav-link"><%= link_to "Pet Index", "/pets" %></a>
      <a class="nav-link"><%= link_to "Shelter Index", "/shelters" %><a>
      <a class="nav-link"><%= link_to "Favorites: #{favorites.total_count}", "/favorites", class: 'btn btn-primary' %></a>
    </div>
  </nav>

  <body>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
