<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

    <nav class="header">
      <div class='nav-title'>Adopt Don't Shop</div>
      <div class="header-right">
        <a><%= link_to "Welcome Page", "/" %></a>
        <a><%= link_to "Pet Index", "/pets" %></a>
        <a><%= link_to "Shelter Index", "/shelters" %><a>
        <a>&star;<%= link_to "Favorites: #{favorites.total_count}", "/favorites" %></a>
      </div>
    </nav>

  <body>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
